/* main-color : #918c00 */

/* COMMON */
body, html, * {
    font-family: 'Noto Sans KR', sans-serif;
}
.body_container {
    font-size: 16px;
    font-weight: 400;
    color: #1c1c1c;
}
.sec__description{
    font-size: 20px;
    font-weight: 500;
    line-height:1.5;
    color: #888;
}
.sec__title {
    font-size: 32px;
    font-weight: 700;
    line-height:1.3;
    color: #1c1c1c;
}
/* BUTTON */
.btn {
    padding: 0 12px;
    height: 50px;
    background:#eee linear-gradient(to bottom, #fcfcfc, #eee);
    border: 1px solid #d5d5d5;
    border-radius: 25px;
    display: inline-flex;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    cursor: pointer;
    box-sizing: border-box;
    position: relative;
    color: #1c1c1c;
    overflow: hidden;
}
/* .btn:hover::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:rgba(145,140,0,1);
    color: #fff;
} */
.btn.btn--primary {
    border: none;
    color: #1c1c1c;
    background: #f5f5f5;
}
/* FLOAT CLEARFIX  */
.clearfix::after {
    content: '';
    display: block;
    clear: both;
}
/* SECTION & INNER  */
.section {
    position: relative;
    margin-top: 103px;
}
.section .inner {
    width: 1100px;
    margin: 0 auto;
    box-sizing:border-box;
    position: relative; /* inner에서 걸릴 수 있도록 꼭 추가하기  */
}
/* 아이템 리스트 */
.item__list {
    margin-top: -10px;
}
.item {
    width: calc(100%/4 - 15px) ;
    float: left;
    overflow: hidden;
    margin-right: 20px;
    margin-top: 40px;
}
.item:nth-child(4n) {
    margin-right: 0;
}
.item__thumb {
    overflow: hidden;
    display: block;
    height: 260px;
    position: relative;
}
.item__thumb:hover img{
    transform: scale(1.3);
}
.item__thumb img {
    vertical-align: bottom;
    transition: all 0.5s;
    max-width: 100%;
    box-sizing: border-box;
}
.item__tag {
    box-sizing: border-box;
    overflow: hidden;
    min-width: 50px;
    height: 20px;
    padding: 0 5px;
    position: absolute;
    bottom: 5px;
    left: 5px;  
    background: rgba(255, 255, 255, 0.6);
    border: solid 1px #918c00;
    color: #918c00;
    border-radius: 3px;
    text-align: center;
    font-size: 13px;
    line-height: 18px;
    /* 냉동 */
    border-color: rgb(38, 79, 145);
    color: rgb(38, 79, 145);   
}
.item__title-group {
    padding: 20px 0;
}
.item__description {    
    font-size: 17px;
    line-height: 1.4;
    color: #555;
}
.item__title {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.4;
    display: block;
}
.item__price {
    margin-top: 20px;
    line-height: 1.2;
    position: relative;
}
.item__price-discounted-rate {
    font-weight: 700;
    color: #ff8a2f;
}
.item__price-origin {
    text-decoration: line-through;
}
.item__price-discounted {
    font-weight: 700;
    display: block;
    font-size: 22px;
}
.item__label {
    width: 50px;
    height: 50px;
    background-color:rgba(145, 140, 0, 0.7);
    position: absolute;
    top: 0%;
    left: 0;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    line-height: 1.3;
}
.item__description, 
.item__title, 
.item__price, 
.item__price-discounted-rate, 
.item__price-origin, 
.item__price-discounted {    
    /* 넘치는글 생략 */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    -webkit-line-clamp: 2;
}
.item__cart {
    position: absolute;
    background: #c5c5c5 url('../img/icon_cart.png') center no-repeat;
    background-size: contain;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    text-indent: -9999px;
    bottom: 0px;
    right: 0px;
}
/* HEADER */
header.section { 
    margin-top: 0;
}
header .sign-group {
    display: flex;
    justify-content: right;
    padding: 12px 0;
}
header .sign-group li {
    float: left;
    padding: 0 15px;
    display: flex;
    align-items: center;
    border-right: 1px solid #888888;
}
header .sign-group li:last-child {
    border-right: 0;
    background: url() right center no-repeat;
}
header .sign-group li:last-child a i {
    position: relative;
}
header .sign-group li:last-child a i::after {
    position: absolute;
    top: 8px;
    right: -12px;
    width: 0;
    height: 0;
    content: '';
    border: 4px solid transparent;
    border-color: #1c1c1c transparent transparent transparent;
}
header .sign-group li a {
    vertical-align: middle;
    font-size: 13px;
    line-height: 15px;
}
header .logo {
    background: url('../img/img_header_logo.png') center no-repeat;
    text-indent: -9999px;
    min-height: 40px;
}
header .menu-group {
    margin-top: 18px;
    height: 63px;
    display: flex;
    align-items: center;
}
header .category {
    height: 100%;
    width: 200px;
    display: block;
    border: none;
    background-color: transparent;
    color: #1c1c1c;
    font-size: 18px;
    text-align: left;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
header .category .category__icon {
    display: inline-block;
    margin-right: 10px;
    margin-top: -6px;
    vertical-align: middle;
}
header .category .category__icon span:not(:first-child) {
    margin-top: 5px;
}
header .category .category__icon span{
    display: block;
    width: 28px;
    height: 3px;
    background: #1c1c1c;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
header .category:hover {
    color: #918c00;
}
header .category:hover .category__icon span{
    background: #918c00;
}
header .main-menu {
    height: 100%;
    display: flex;
    align-items: center;
}
header .main-menu li {
    margin-right: 50px;
}
header .main-menu li a {
    display: block;
    height: 100%;
    font-size: 18px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
header .main-menu li a:hover {
    color:#918c00;
}
header .search-group {
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: auto;
}
#searchFrom {
    position: relative;
}
#searchFrom input[type="submit"] {
    position: absolute;
    right: 0;       
    top: 0;
    line-height: 35px;
    text-indent: -9999px;
    border: none;
    padding-right: 30px;
    background: url('../img/icon_header_search.png') left center no-repeat;
}
#searchInput {
    background-color: #f5f5f5;
    border-radius: 25px;
    border: none;
    height: 35px;
    padding: 0 90px 0 10px;
}
header .cart {
    position: relative;
    margin-left: 21px;
    padding-right:40px;
    line-height: 35px;
    text-indent: -9999px;
    background: url('../img/icon_header_cart.png') left center no-repeat;
}
header .cart .cart_count{
    display: flex;
    justify-content: center;
    width: 23px;
    height: 23px;
    position: absolute;
    top: -8px;
    right: 0px;
    background-color:rgba(145,140,0,1);
    border-radius: 50%;
}
header .cart .cart_count > span{
    text-indent: initial;
    font-size: 12px;
    color: rgb(255, 255, 255);
    position: absolute;
    top: -7px;
}
/* VISUAL SECTION*/
#section--visual {
    max-height: 500px;
    overflow: hidden;
    margin-top: 0;
}
#visual__slider .slick-arrow {
    width: 55px;
    height: 55px;
    background-color:rgba(0, 0, 0, 0.3);
    background-repeat: no-repeat;
    border-radius: 50%;
    border:0;
    text-indent: -9999px;
    position: absolute;
    top: 50%;
    transform:translate(0, -50%);
    z-index: 1;
    cursor: pointer;
    outline: none;
}
#visual__slider .slick-arrow.slick-prev::after {
    position: absolute;
    content: '';
    display: inline-block;
    margin: 19px 0 0 21px;
    width: 15px;
    height: 15px;
    vertical-align: middle;
    border: solid #fff;
    border-width: 3px 3px 0 0;
    -webkit-transform: rotate(225deg);
    transform: rotate(225deg);
    transition: all 0.5s;
    top: 0;
    left: 0;
}
#visual__slider .slick-arrow.slick-next::after {
    position: absolute;
    content: '';
    display: inline-block;
    margin: 19px 0 0 16px;
    width: 15px;
    height: 15px;
    vertical-align: middle;
    border: solid #fff;
    border-width: 3px 3px 0 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    transition: all 0.5s;
    top: 0;
    left: 0;
}
#visual__slider .slick-arrow.slick-prev {
    left: 11.8%;
}
#visual__slider .slick-arrow.slick-next {
    right: 11.8%;  
}
#visual__slider .visual__slide {
    display: flex !important;
    align-items: center;
    min-height: 500px;
}
#visual__slider .slick-slide:nth-child(1) .visual__slide {
    background: url('../img/visaul_img_01.jpg') center no-repeat;
    background-size: cover;
}
#visual__slider .slick-slide:nth-child(2) .visual__slide {
    background: url('../img/visaul_img_02.jpg') center no-repeat;
    background-size: cover;
}
#visual__slider .slick-slide:nth-child(3) .visual__slide {
    background: url('../img/visaul_img_03.jpg') center no-repeat;
    background-size: cover;
}
#visual__slider .visual__slide .inner {
    padding: 0 42px;
}
#visual__slider .visual__slide .visual__description {
    font-size: 22px;
    color: #ba8600;
}
#visual__slider .visual__slide .visual__title {
    font-size: 42px;
    line-height: 1.3;
    font-weight: 700;
    margin-top: 23px;
}
#visual__slider .visual__slide .visual__etc {
    color:#8e8e8e;
    margin-top: 33px;
}

/* RECOMMEND SECTION */
#section--recommend .btn-group {
    margin-top: 30px;
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
}
#section--recommend .btn-group button {   
    margin-right: 18px;
    margin-top: 20px;
    padding: 0 20px;
    height: 47px;
}
#section--recommend .btn__wrap {
    text-align: center;
}
#section--recommend .btn--viewMore {
    height: 70px;
    border: 1px solid #ccc;
    margin-top: 48px;
    width: 580px;
    font-size: 22px;
    border-radius: 0;
    background: transparent;
    justify-content: center;
    transition: all 0.5s;
}
#section--recommend .btn--viewMore:hover {
    border:1px solid #918c00;
    color:#918c00;
}
#section--recommend .btn--viewMore i {
    display: inline-block;
    width: 28px;
}
#section--recommend .btn--viewMore i::after {
    content: '';
    display: inline-block;
    margin: -4px 0 0 20px;
    width: 6px;
    height: 6px;
    vertical-align: middle;
    border: solid #1c1c1c;
    border-width: 2px 2px 0 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    transition: all 0.5s;
}
#section--recommend .btn--viewMore:hover i::after {
    border:1px solid #918c00;
    border-width: 2px 2px 0 0;
    -webkit-transform: rotate(45deg);
    transform: translateX(-8px) rotate(45deg);
}
/* BNR-1 SECTION */
#section--bnr_1 .slick-slide:nth-child(1) .bnr__slide {    
    background: url('../img/bnr_01.jpg') center no-repeat fixed;
    background-size: cover;
}
#section--bnr_1 .slick-slide:nth-child(2) .bnr__slide {    
    background: url('../img/bnr_02.jpg') center no-repeat fixed;
    background-size: cover;
}
#section--bnr_1 .slick-slide:nth-child(3) .bnr__slide {    
    background: url('../img/bnr_03.jpg') center no-repeat fixed;
    background-size: cover;
}
.bnr__slider:hover .bnr__slide::before {
    background-color: rgba(0, 0, 0, 0.2);
}
.bnr__slide::before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    transition: all 1s ease;
}
.bnr__slide {    
    height: 420px;
}
.bnr__slider .inner {
    position: relative;
    top: 140px;
    height: 100%;
    text-align: center;
    color: #fff;
    font-weight: 700;
}
.bnr__title {
    animation: textUp 0.7s forwards;
    font-size: 40px;
    line-height: 1.5;
    opacity: 0;
}
.bnr__description {
    animation: textUp 0.7s 0.05s forwards;
    font-size: 24px;
    line-height: 1.3;
    opacity: 0;
}
@keyframes textUp {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }
    50%{
        opacity: 0.5;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}
.bnr__slider .slick-dots {
    width: 100%;
    position: absolute;
    bottom: 25px;
    right: 15px;
    text-align: center;
    padding: 0;
}
.bnr__slider .slick-dots li {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    padding: 0;
    cursor: pointer;
}
.bnr__slider .slick-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 20px;
    height: 20px;
    padding: 5px;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: 0;
    background: 0 0;
}
.bnr__slider .slick-dots li button:before {
    font-size: 2.7rem;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    content: '•';
    text-align: center;
    opacity: .75;
    color: #fff;
}
.bnr__slider .slick-dots li.slick-active button:before {
    opacity: .75;
    color: #918c00;
}
/* SUBSCRIPTION SECTION */
#section--subscription .item__thumb {
    height: 320px;
}
#section--subscription .item__title-group {
    text-align: center;
    padding: 24px 16px;
}
#section--subscription .item__description {
    font-size: 20px;
    font-weight: 500;
    color: #888;
}
#section--subscription .item__title {
    font-size: 22px;
    transition: all 0.4s ease;
}
#section--subscription .item:nth-child(1):hover .item__title {
    color: #3f4db4;
}
#section--subscription .item:nth-child(2):hover .item__title {
    color: #b4653f;
}
#section--subscription .item:nth-child(3):hover .item__title {
    color: #6bb43f;
}
#section--subscription .item:nth-child(4):hover .item__title {
    color: #918c00;
}
/* CHALLENGE SECTION */
#section--challenge .item {
    text-align: center;
}
#section--challenge .item:nth-child(1) {
    background-color: #5c7e87;
}
#section--challenge .item:nth-child(2) {
    background-color: #9c9056;
}
#section--challenge .item:nth-child(3) {
    background-color: #bf683d;
}
#section--challenge .item:nth-child(4) {
    background-color: #d6934d;
}
#section--challenge .item__thumb {
    height: 240px;
}
#section--challenge .item__title, #section--challenge .item__description {
    color: #fff;
}
#section--challenge .item__title-group {
    padding: 15px 12px 0;
}
#section--challenge .item__title {
    font-size: 20px;
}
#section--challenge .item__description {
    font-size: 18px;
}
#section--challenge .item__price {
    margin-top: 0;
    padding: 15px 12px;
}
#section--challenge .item__price-discounted {
    font-size: 20px;
}
/* BNR-2 SECTION */
#section--bnr_2 .slick-slide:nth-child(1) .bnr__slide {    
    background: url('../img/bnr_04.jpg') center no-repeat fixed;
    background-size: cover;
}
#section--bnr_2 .slick-slide:nth-child(2) .bnr__slide {    
    background: url('../img/bnr_05.jpg') center no-repeat fixed;
    background-size: cover;
}
#section--bnr_2 .slick-slide:nth-child(3) .bnr__slide {    
    background: url('../img/bnr_06.jpg') center no-repeat fixed;
    background-size: cover;
}
#section--bnr_2 .slick-slide:nth-child(3) .bnr__slide {    
    background: url('../img/bnr_07.jpg') center no-repeat fixed;
    background-size: cover;
}
/* BENEFIT SECTION */
/* NEWITEM SECTION */
/* BRAND SECTION */
/* MAGAZINE SECTION */
#section--magazine {   
}

/* TV SECTION */
#section--tv {
    background-color: #efefef;
    padding-top: 100px;
    height: 450px;
}
.tv__title_wrap {
    float: left;
    width: calc(100% - 640px);
}
.tv__title_wrap .sec__title {
    display: flex;
    align-items: center;
}
.tv__title_wrap .sec__title i {
    display: inline-block;
    margin: 6px 0 0 11px;
    width: 25px;
    height: 25px;
    line-height: 23px;
    font-size: 0;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 50%;
    vertical-align: top;
}
.tv__title_wrap .sec__title i::before {
    display: inline-block;
    margin: 2px 0 0 -2px;
    width: 6px;
    height: 6px;
    vertical-align: middle;
    border: solid #1c1c1c;
    border-width: 2px 2px 0 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    content: '';
}
.tv__title_wrap .title_logo {
    margin-right: 8px;
    display: inline-block;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: 1px solid #ccc;
    background: #fff url('../img/img_header_logo_s.png') center no-repeat;
    background-size: 90%;
}
.tv__img_wrap {
    float: left;    
    width: 640px;
    box-sizing: border-box;
}
.tv__img_wrap img{
    vertical-align: bottom;
    transition: all 0.5s;
    max-width: 100%;
    box-sizing: border-box;
}
.tv__title_wrap .sec__description {
    margin-top: 30px;
    font-size: 23px;
    font-weight: 700;
    color: #1c1c1c;
}
.tv__title_wrap > span{
    margin-top: 12px;
    display: block;
    height: 120px;
    font-size: 20px;
    color: #888;
}
.tv__title_wrap button {
    margin-top: 30px;
    width: 400px;
    height: 60px;
    background: #d2211f;
    border: none;
    color: #fff;
    font-size: 20px;
}


/* FOOTER */